[mysqld]
# ===== Master 식별 =====
server-id=1

# ===== 바이너리 로그 (레플리케이션 핵심) =====
log-bin=mysql-bin
binlog-format=ROW
binlog-do-db=ticket

# ===== 성능 설정 =====
max_connections=500
innodb_buffer_pool_size=512M
innodb_log_file_size=128M
innodb_flush_log_at_trx_commit=1

# ===== 문자셋 =====
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
